/* Fonte */

/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@100..800&display=swap');

/* Tiny5 */
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

/* Meu CSS */
body {
    background-color: #530bc0;
    background-image: url(../images/backgrounds/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "JetBrains Mono", serif;
    font-size: 12px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.main-div {
    display: flex;
    flex-direction: column;
}

/* Barra de navegação */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease;
    z-index: 9999;
    width: 100%;
    padding: 0 100px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

nav.hide {
    transform: translateY(-120px);
    /* sobe a navbar para fora da tela, altura do nav */
}

nav .logo p {
    font-family: "Tiny5", sans-serif;
    display: flex;
    font-size: 4em;
    color: #BF0BAD;
}

nav .logo p:hover {
    color: #BF0BAD;
    transition: 0.3s;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

nav ul li a {
    font-size: 1.6em;
}

nav ul li a:hover {
    color: #BF0BAD;
    transition: 0.3s;
}

.menu-icon {
    display: none;
    width: 25px;
    height: 3px;
    background: #fff;
    transform: translateY(-50%);
    transition: .5s;
    border-radius: 5px;
    cursor: pointer;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    transition: .5s;
    border-radius: 5px;
}

.menu-icon::before {
    top: -8px;
}

.menu-icon::after {
    top: 8px;
}

.menu-icon.active {
    background: rgba(0, 0, 0, 0);
}

.menu-icon.menu-icon.active::before {
    top: 0;
    transform: rotate(45deg);
}

.menu-icon.active::after {
    top: 0;
    transform: rotate(135deg);
}

/* Início */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    width: 100%;
    max-width: 80%;
    margin: 15% 0;
}

.left-text {
    text-align: center;
}

.left-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
}

.left-text p {
    font-size: 1.4em;
    margin-bottom: 30px;
}

.left-text div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.left-text div a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #BF0BAD;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 30px;
}

.left-text div a:hover {
    background-color: #8a047b;
    transform: scale(1.05);
}

.left-text div img {
    width: 15px;
}

.left-text div p {
    margin: 0;
    font-size: 1.1em;
}

.right-image {
    display: flex;
    justify-content: center;
}

.me {
    background: black;
    border-radius: 50% 50% 30% 30%;
    box-shadow: 5px 5px 5px 5px black;
}

.profile-img {
    max-width: 350px;
    width: 100%;
    z-index: 1;
    position: relative;
    border-radius: 30%;
}


.kanji {
    position: absolute;
    z-index: 1;
}

.tremor {
    animation: tremor 0.2s infinite alternate;
}

.kanji-1 {
    width: 140px;
    bottom: 42%;
    right: 15%;
}

.kanji-2 {
    width: 100px;
    bottom: 59%;
    right: 10%;
}

.kanji-3 {
    width: 80px;
    bottom: 67%;
    right: 15%;
}

.kanji-4 {
    width: 60px;
    bottom: 76%;
    right: 10%;
}

@keyframes tremor {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(3px, -3px) rotate(1deg);
    }
}

/* Sobre */

.about-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
    padding: 20px;
    border-radius: 10px 10px 0 0;
    margin-top: 50px;
}

#sobre h2{
    font-size: 3em;
    text-align: center;
    margin-bottom: 40px;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-image {
    border: 3px solid #8a047b;
}

.about-image img {
    width: 200px;
    height: 200px;
}

.about-text {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-left: 2%;
}

.about-text h2 {
    font-size: 1.7em;
}

.about-text h3 {
    margin-top: 10px;
    font-size: 1.2em;
}

.about-text p {
    margin-top: 20px;
    font-size: 1.1em;
}

.about-level {
    display: flex;
    font-size: 1.2em;
}

.about-level div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-level div:nth-child(2) {
    border: 1px solid green;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
}

.about-medal {
    display: flex;
    background: #202020;
    padding: 5px 50px 5px 10px;
    border-radius: 3px;
    margin-top: 20px;
    border: 1px solid;
}

.about-medal img {
    width: 50px;
}

.about-medal div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.about-tech {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about-tech-left {
    flex: 1;
}

.about-tech-up {
    background-color: #202020;
    padding: 10px 30px 10px 20px;
    border-radius: 3px;
    margin-bottom: 35px;
}

.about-tech-title {
    border-bottom: 1px solid;
    padding: 10px;
}

.about-tech-image {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 20px 20px;
    gap: 30px;
}

.about-tech-image div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.about-tech-image img {
    width: 40px;
    cursor: pointer;
}

.about-tech-image p {
    display: none;
    position: absolute;
    bottom: 120%;
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.about-tech-image p::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.about-tech-image div:hover p {
    display: block;
    opacity: 1;
}

.about-tech-title h2 {
    font-size: 1.5em;
}

.about-tech-down {
    background-color: #202020;
    padding: 10px 30px 10px 20px;
    border-radius: 3px;
    margin-top: 40px;
}

.about-fav-project {
    display: flex;
    flex-direction: row;
}

.about-fav-project-image {
    padding: 20px;
}

.about-fav-project-image img {
    max-width: 250px;
}

.about-fav-project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-fav-project-content h3 {
    font-size: 1.5em;
}

.about-fav-project-content>p {
    font-size: 1.2em;
}

.about-fav-project-content>div {
    display: flex;
    gap: 30px;
}

.about-fav-project-content>div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.about-fav-project-content>div div h4 {
    font-size: 1.3em;
}

.about-fav-project-content>div div p {
    color: darkcyan;
    font-size: 1.3em;
}

.about-tech-right {
    background: #202020;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.about-tech-right>div {
    padding: 20px;
}

.on-line p {
    font-size: 2em;
    color: darkcyan;
}

.about-tech-right a {
    font-size: 1.2em;
}

.about-tech-right a img {
    width: 15px;
}

.about-subtitle h3 {
    font-size: 1.3em;
}

.about-tech-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.about-tech-skills div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.about-tech-skills img {
    width: 40px;
    cursor: pointer;
}

.about-tech-skills p {
    display: none;
    position: absolute;
    bottom: 120%;
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.about-tech-skills p::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.about-tech-skills div:hover p {
    display: block;
    opacity: 1;
}

/* Categorias de projetos */

.category-project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 140px 0;
}

.category-project-section h2 {
    font-size: 3em;
}

.category-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    gap: 50px;
    flex-wrap: wrap;
}

.category-projetcs-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 3px solid rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 18px;
    background-color: #36022f;
    width: 320px;
    height: 400px;
}

.category-projetcs-card:hover {
    transform: scale(1.05);
    transition: 0.5s;
    border: 3px solid rgba(255, 255, 255, 0.6);
    background-color: #180115;
}

.category-projetcs-card div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-projetcs-card img {
    width: 200px;
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.3));
}

.category-projetcs-card h3 {
    font-size: 1.8em;
    margin-top: 20px;
    text-align: center;
}

.category-projetcs-card a {
    padding: 10px 20px;
    background-color: #BF0BAD;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3em;
    transition: 0.3s;
    display: inline-block;
}

.category-projetcs-card a:hover {
    background-color: #8a047b;
}

/* Projetos */
/* Popup Fullscreen */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 0, 20, 0.95);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 40px;
    overflow-y: auto;
    z-index: 9999;
    transition: 0.5s;
}

.popup.hidden {
    display: none;
}

.popup-content {
    width: 100%;
    max-width: 1200px;
    color: #fff;
}

.popup-content h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
}

.popup-content h2#detalhe-nome {
    margin: 0;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 4em;
    cursor: pointer;
}

.projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

.projeto-card {
    background: #36022f;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border: 3px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.projeto-card:hover {
    transform: scale(1.05);
    transition: 0.5s;
    border: 3px solid rgba(255, 255, 255, 0.6);
    background-color: #180115;
}

.projeto-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.3));
    height: 170px;
}

.projeto-card h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: 600;
}

.ver-mais-btn {
    padding: 8px 15px;
    background: #BF0BAD;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.ver-mais-btn:hover {
    background: #8a047b;
}

.descricao {
    margin-top: 15px;
    text-align: left;
}

.descricao.hidden {
    display: none;
}

.popup-content.detalhe {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 100%;
}

.detalhe-image-desc {
    display: flex;
    gap: 30px;
}

.popup-content.detalhe img {
    width: 60%;
    border-radius: 12px;
}

#detalhe-descricao {
    margin: 20px 0;
    font-size: 1.2em;
    line-height: 2.5;
    text-align: left;
}

.tecnologias-list {
    display: flex;
    justify-content: start;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px 30px;
    background: #36022f;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.tecnologias-list img {
    width: 40px !important;
    height: 40px;
    border-radius: 0 !important;
    object-fit: contain;
    margin: 0 !important;
}

.close-btn-detalhe {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 4em;
    cursor: pointer;
}

.botoes-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.botoes-links a {
    padding: 10px 20px;
    background-color: #BF0BAD;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s;
}

.botoes-links a:hover {
    background-color: #8a047b;
}

/* Contato */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 0;
    width: 40%
}

.contact-section h2 {
    font-size: 3em;
}

.contact-form {
    display: flex;
    padding-top: 120px;
    width: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-between;
    width: 100%;
}

.contact-form form div {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-left: 10px;
    font-size: 2em;
}

.contact-form input,
.contact-form textarea {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #BF0BAD;
    border-radius: 10px;
    padding: 20px 30px;
    font-family: "JetBrains Mono", serif;
    font-size: 12px;
    color: #fff;
    margin-top: 20px;
    width: 100%;
    font-size: 1.3em;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form div:nth-child(6) {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: row;
}

.counter {
    display: flex;
    flex-direction: row !important;
    font-size: 1.2em;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #BF0BAD;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.3s;
    display: inline-block;
    border: none;
}

.contact-form button:hover {
    background-color: #8a047b;
    transform: scale(1.05);
}

/* Rodapé */

footer {
    background-color: #000;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    font-size: 1.1em;
}